/* Box model * */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Variables */

:root {
  /* Fonts */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  /* Color  */
  --txt-cl-primary: #555555;

  --main-bg-cl: #111319;

  --primary-cl: #415167;
  --accent-cl: #c7a17a;
  --dark-gray-cl: #151d28;
  --light-gray-cl: #edf0f5;
  --accent-cl-light: #f9f5e8;
}

/* Reset styles */

h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  display: block;
}

/* Base styles */

body {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--txt-cl-primary);
}

.section {
}

.btn {
}

.btn-light {
}

.btn-dark {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------Header styles----------*/

.header {
  background-color: var(--main-bg-cl);

  outline: 1px solid tomato;
}
.header-logo {
}
.header-logo-img {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.header-contacts {
}
.header-btn {
}

/* ----------Hero section styles---------- */

.hero {
}
.hero-list {
}

.hero-list::before {
  content: '';

  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-item {
}
.hero-link {
}
.hero-uppertitle {
}
.hero-title {
}
.hero-descr {
}
.hero-controls {
}
.hero-controls-item {
}
.hero-controls-btn {
}

/* ----------About section styles----------- */

.about {
}
.about-list {
}
.about-item {
}
.about-img {
}
.about-uppertitle {
}
.about-title {
}
.about-subtitle {
}
.about-descr {
}
.about-btn {
}

/* ----------Price section styles----------- */

.price {
}
.price-uppertitle {
}
.price-title {
}
.price-list {
}
.price-item {
}
.price-inner-list {
}
.price-inner-item {
}
.price-btn {
}

/* ----------Benefits section styles----------- */

.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-quantity {
}
.benefits-mark {
}
.benefits-text {
}
.benefits-uppertitle {
}
.benefits-title {
}
.benefits-descr {
}

/* ----------Team section styles----------- */

.team {
}
.team-uppertitle {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-subtitle {
}
.team-position {
}

/* ----------Contacts section styles----------- */

.contacts {
}
.contacts-title {
}
.contacts-address {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
}
.contacts-upper-title {
}
.contacts-descr {
}

/* ----------Footer section styles----------- */

.footer {
}
.footer-copyright {
}
.media-list {
}
.madia-item {
}
.media-link {
}

img:nth-child() {
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
